// This file should be added to the target settings
// Remember to manually add the frameworks in the xcode project
// Remember to change the moc path in the Build rules

// location of libraries
JLAB_SOFTWARE = /opt/jlab_software/2.6/macosx12-clang14

// build directory
MYBUILDDIR = /Users/ungaro/builds

// QT
QT_VERSION = system
QT_ARCH    = clang_64
QTDIR      = $JLAB_SOFTWARE/qt/$QT_VERSION/$QT_ARCH
QTFRAMES   = $QTDIR/lib
QTBASE     = $QTDIR/include
QT_HEADS   = $QTBASE $QTFRAMES/QtCore.framework/Headers $QTFRAMES/QtGui.framework/Headers $QTFRAMES/QtWidgets.framework/Headers

// CCDB
CCDB_VERSION = 1.07.00
CCDB_ROOT    = $JLAB_SOFTWARE/ccdb/ccdb-$CCDB_VERSION
CCDB_HEADS   = $CCDB_ROOT/include

// CLHEP
CLHEP_VERSION = 2.4.5.1
CLHEP_ROOT    = $JLAB_SOFTWARE/clhep/$CLHEP_VERSION
CLHEP_HEADS   = $CLHEP_ROOT/include $CLHEP_ROOT/include/CLHEP

// GEANT4
GEANT4_VERSION = 11.0.3
GEANT4_ROOT    = $JLAB_SOFTWARE/geant4/$GEANT4_VERSION
GEANT4_HEADS   = $GEANT4_ROOT/include/Geant4

// ROOT
ROOT_VERSION = 6.26.06
ROOTSYS      = $JLAB_SOFTWARE/root/$ROOT_VERSION
ROOT_HEADS   = $ROOTSYS/include/root


// GLIBRARY
// $GLIB_ROOT/include is for cadmesh
GLIB_ROOT   = /opt/projects/gemc/glibrary
GLIB_HEADS1 = $GLIB_ROOT/include $GLIB_ROOT/guts $GLIB_ROOT/goptions $GLIB_ROOT/gsplash
GLIB_HEADS2 = $GLIB_ROOT/gdata $GLIB_ROOT/gtouchable $GLIB_ROOT/gfactory $GLIB_ROOT/ghit $GLIB_ROOT/gdynamicDigitization
GLIB_HEADS3 = $GLIB_ROOT/gsystem $GLIB_ROOT/g4system $GLIB_ROOT/gstreamer $GLIB_ROOT/textProgressBar $GLIB_ROOT/eventDispenser
GLIB_HEADS4 = $GLIB_ROOT/gQtButtonsWidget $GLIB_ROOT/g4display $GLIB_ROOT/gtranslationTable $GLIB_ROOT/gparticle
GLIB_HEADS5 = $GLIB_ROOT/gphysics
GLIB_HEADS = $GLIB_HEADS1 $GLIB_HEADS2 $GLIB_HEADS3 $GLIB_HEADS4 $GLIB_HEADS5
